//Colors
$color-primary: #0086ad;
$color-primary-dark: #005582;
$color-secondary: #ed5565;
$color-tertiary: #97ebdb;
$color-tertiary-dark: #00c2c7;
$color-white: #fff;
$color-black: #000;
$color-grey: #f1f1f1;